<fd-layout-panel>
    <fd-layout-panel-header>
        <fd-layout-panel-head>
            <fdp-icon-tab-bar [tabsConfig]="items" iconTabType="icon">
               
            </fdp-icon-tab-bar>
            <fd-layout-panel-description>Layout Panel Description</fd-layout-panel-description>
        </fd-layout-panel-head>
        <fd-layout-panel-actions>  </fd-layout-panel-actions>
    </fd-layout-panel-header>
    <fd-layout-panel-filters>
    </fd-layout-panel-filters>
    <fd-layout-panel-body style="background-color:rgb(255, 255, 255);">
      >

    </fd-layout-panel-body>
    <fd-layout-panel-footer>
         <button fd-button label="CLEAR" fdType="negative" glyph="decline" ariaLabel="Negative Filter"></button>
         <button fd-button label="POST" fdType="positive" glyph="cart-approval" ariaLabel="Positive Filter"></button>
    </fd-layout-panel-footer>
</fd-layout-panel>